<div id="<%= dom_id movie %>" >
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>releaseyear:</strong>
    <%= movie.releaseyear %>
  </p>

  <p>
    <strong>Genere:</strong>
    <%= movie.genere %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= movie.stock %>
  </p>

</div>
